@font-face {
  font-family: "Roboto_Regular";
  src:url("../fonts/Roboto_Regular/Roboto_Regular_V1.eot?") format("eot"),
  url("../fonts/Roboto_Regular/Roboto_Regular_V1.woff") format("woff"),
  url("../fonts/Roboto_Regular/Roboto_Regular_V1.ttf") format("truetype"),
  url("../fonts/Roboto_Regular/Roboto_Regular_V1.svg#Roboto_Regular_V1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Condensed";
  src:url("../fonts/Roboto_Condensed/Roboto_Condensed.eot?") format("eot"),
  url("../fonts/Roboto_Condensed/Roboto_Condensed.woff") format("woff"),
  url("../fonts/Roboto_Condensed/Roboto_Condensed.woff2") format("woff2"),
  url("../fonts/Roboto_Condensed/Roboto_Condensed.ttf") format("truetype"),
  url("../fonts/Roboto_Condensed/Roboto_Condensed.svg#Roboto_Condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: 'Roboto_Regular', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
  background: #ddd;
  color: #222;
}
h1, h2, h3, h4, h5, h6, .table>thead>tr>td, .table>thead>tr>th { 
	color: #444;
	font-family: "Roboto_Condensed";
}
.table>thead>tr>td, .table>thead>tr>th { 
	text-align: center;
	font-size: 16px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 23px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a:focus, a:hover {
	color: #dd1f26;
	text-decoration: none;
}
a, #top-links ul.dropdown-menu > li > a, #top ul.dropdown-menu > li > button {
	color: #222;
}
 #top ul.dropdown-menu > li > button {
    display: block;
    padding: 3px 20px;
 }
#top-links ul.dropdown-menu > li:hover, #top ul.dropdown-menu > li:hover button, #top ul.dropdown-menu > li:hover a {
	color: #fff;
	background: #dd1f26;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background: none;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #222;
	/*background-color: #229ac8;
	background-image: linear-gradient(to bottom, #dd1f26, #1f90bb);
	background-repeat: repeat-x;*/
}
.navbar-collapse {
	padding: 0;
}
/*header.navbar-fixed-top #menu .nav > li:first-child > a{
	padding-left: 15px;
}*/
/* top */
#top {
	background-color: #dd1f26;
	border-bottom: 1px solid #dd1f26;
	padding: 5px 0px 5px 0;
	/*margin: 0 0 20px 0;*/
	/*min-height: 40px;*/
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select, #top #form-language .language-select {
	text-align: left;
}
/*#top #form-currency .currency-select:hover, #top #form-language .language-select:hover {*/
/*	text-shadow: none;*/
/*	color: #ffffff;*/
/*	background-color: #229ac8;*/
/*	background-image: linear-gradient(to bottom, #dd1f26, #1f90bb);*/
/*	background-repeat: repeat-x;*/
/*}*/
#top .btn-link, #top-links ul > li, #top-links ul > li > a, #top .dropdown-toggle {
	color: #fff;
	font-size: 14px;
	/*text-shadow: 0 1px 0 #FFF;*/
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	/*color: #444;*/
}
#top-links .dropdown-menu a {
	/*text-shadow: none;*/
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	/*padding-top: 6px;*/
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo img {
	width: 200px;
	/*margin: 0 0 10px 0;*/
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 41px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	line-height: 18px;
	padding: 10px 35px;
	background: #dd1f26;
	border-color: #dd1f26;
	color: #fff;	
	/*text-shadow: 0 1px 0 #FFF;*/
}
#search .btn-lg i {
	font-size: 18px;
}
/* cart */
#cart {
	/*margin: 10px;*/
}
#cart > .btn {
	/*font-size: 12px;*/
	line-height: 18px;
	color: #222;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	/*border: 1px solid #E6E6E6;*/
	color: #666;
	box-shadow: none;
	/*text-shadow: none;*/
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	/*background-color: #229ac8;
	background-image: linear-gradient(to bottom, #dd1f26, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;*/
}
#menu .nav > li > a {
	color: #222;
	font-size: 18px;
	font-family: "Roboto_Condensed";
	padding: 10px 15px 10px 15px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	/*min-height: 15px;
	background-color: transparent;
	font-weight: bold;*/
}
#menu .nav > li > a:hover, #menu .nav > li.open > a:hover, #menu .nav > li > a.active {
	/*background-color: rgba(0, 0, 0, 0.1);*/
	color: #dd1f26;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 14px;
	white-space: nowrap;
}
#menu .dropdown-inner li a:hover {
	color: #dd1f26;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #dd1f26;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	/*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #dd1f26;
	border-color: #dd1f26;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: "Roboto_Condensed", Arial;
	font-size: 16px;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0;
	padding: 15px 0;
	border: 1px solid #ddd;
	background: none;
	text-align: right;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	/*text-shadow: 0 1px 0 #FFF;*/
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li a {
	color: #222;
}
.breadcrumb > li:last-child a {
	color: #dd1f26;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:last-child:after {
	display: none;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 6px;
	right: -5px;
	width: 7px;
	height: 7px;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
	background: #fff;
}
.panel-default>.panel-heading.active {background: #dd1f26;}
.panel-default>.panel-heading.active h4.panel-title a{color: #fff;}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 14px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #222;
	background-color: #e7e7e7;
	border-color: #ccc;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
	/*background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;*/
}
.btn-default:hover {
	background: #222;
	border-color: #222;
	color: #fff;
}
.btn-primary {
	color: #ffffff;
	min-width: 100px;
	background-color: #BE1B21;
	border-color: #BE1B21;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(to bottom, #dd1f26, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;*/
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #dd1f26;
} 
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.focus, .btn-primary:focus {
	background-color: #B31B1B;
	background-position: 0 -15px;
	border-color: #B31B1B;
}
.btn-warning {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger, button.btn-danger {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #da4f49!important;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #fff;
	background: #dd1f26;
	border: 1px solid #dd1f26;
	/*text-shadow: 0 1px 0 #FFF;*/
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	/*text-shadow: 0 1px 0 #000000;*/
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
.min-height-caption p{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	/*font-weight: bold;*/
}
.product-thumb .caption {
	padding: 0 15px;
}
.min-height-caption {
	min-height: 80px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;padding-top: 110px;
}
.product-layout.product-list .hidden-btn-blk{bottom: 15%;}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o, #rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #fff;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #fff;
	color: #222;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button i {
		font-size: 16px;
}
.product-thumb .button-group button i.fa, #top-links ul.dropdown-menu > li > a {
	transition:none;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #dd1f26;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}


/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/*************************************************************
RAJI COMMON SITE MAIN CSS
*************************************************************/
ul {
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0
}
.no-padding-left {
	padding-left: 0
}
.no-padding-right {
	padding-right: 0;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.padding-15 {
	padding: 15px;
}
.padding-30 {
	padding: 30px;
}
.btn, a, i.fa, button {
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}
.white-bg {
	background: #fff;
}
header {
	padding: 15px 0 0 0;
	background: #fff;
}
.navbar {
	min-height: auto;
	margin-bottom: 0;
}
.navbar-fixed-top {
  box-shadow: 0 2px 3px #d9dce4;
  z-index: 9999;
  box-shadow: 0 2px 5px #555;
}
.common-home .owl-pagination {
	position: absolute;
	left: 50%;
	top: auto;
	bottom: 0;
}
.owl-buttons i:hover {
	color: #dd1f26;
}
.common-home .owl-controls .owl-page span {
	background: #dd1f26;
	opacity: 0.5;
}
.common-home .owl-controls .owl-page.active span {
	background: #dd1f26;
	opacity: 1;
}
#cart button, .img-thumbnail, .hidden-btn-blk button, .block-btn-blk button, .product-layout button.wishlist-top, .thumbnail, .btn-group button, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: none;
	border: none;box-shadow: none;
}
#form-currency .btn, #form-language .btn {
	padding: 0;
}
#form-language {
    margin:0 15px;
}
#cart button .fa.fa-shopping-cart {
	font-size: 25px;
}
.block-title h3 {
	margin-bottom: 2px;
	position: relative;
	color: #dd1f26;
}
.block-title h3:before, .block-title h3:after {
	position: absolute;
	/*border-top-width: 2px;*/
	border-top: 2px solid #2a2a2a;
	width: 43%;
	content: '';
	top: 85%;
}
.block-title span:before, .block-title span:after {
	position: absolute;
	border-top: 1px solid #2a2a2a;
	width: 43%;
	content: '';
	top: -8%;
	opacity: 1;
}
.block-title h3:before, .block-title span:before{
	left: 0;
}
.block-title h3:after, .block-title span:after {
	right: 0;
}
.block-title span {
	opacity: 0.5;
	display: block;
	font-size: 13px;
	position: relative;
}
.module-slider .caption h4 {
	margin-bottom: 5px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.caption h4 a {
	font-size: 16px;
}
.module-slider .caption hr {
	margin: 10px 0;
}
.module-slider .caption .rating {
	position: absolute;
  bottom: 28%;
  right: 10px;
}
.module-slider .caption p.para {
	font-size: 13px;
	margin-bottom: 0;
	color: #777;
}
.module-slider .owl-item .product-layout {
	background: #fff; 
	margin: 0 15px;
}
.module-slider.owl-carousel {
	background: none;
}
.owl-wrapper-outer {
	border:none!important;
}
.module-slider .owl-wrapper-outer, #image-additional-carousel .owl-wrapper-outer {
	border: none;
	box-shadow: none;
}
.module-slider.owl-carousel .owl-buttons div i {
	font-size: 15px;
	width: 30px;
	height: 30px;
	background: #dd1f26;
	opacity: 0.5;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 50%;
}
.module-slider.owl-carousel .owl-buttons div i:hover {
	opacity: 1;
}
.module-slider.owl-carousel .owl-buttons .owl-prev {
	left: 0;
}
.module-slider.owl-carousel .owl-buttons .owl-next {
	right: 0;
}
.common-home .module-slider.owl-carousel .owl-buttons div i {
	font-style: 15px;
}
#image-additional-carousel.owl-carousel .owl-buttons div i {
	font-size: 25px;
}
h4 a, h2 a, h3 a {
	color: #2a2a2a;
	font-size: 16px;
}
.product-thumb {
	position: relative;
}
.common-home .min-height-caption {
    min-height: 60px;
}
/*.product-layout.product-grid{padding-left: 5px;padding-right: 5px;}*/
.product-layout .wishlist-top {
	position: absolute;
	right: 5%;
	top: 5%;
}
.product-layout h4, .product-layout .rating {
	margin-bottom: 0;
	padding-bottom: 0;
}
.product-layout .price {
	/*margin-top: 10px;*/
}
.caption .head {
	min-height: 35px;
}
.divider {
  width: 100%;
  clear: both;
  border-bottom: 2px solid rgb(238, 238, 238);
  list-style: none outside none;
  margin: 5px 0;
}
.hidden-btn-blk {
	position: absolute;
	bottom: 33%;
	left: 10px;
}
.hidden-btn-blk button, .module-slider .caption .rating {
	opacity: 0;
}
.product-layout:hover .hidden-btn-blk button, .product-layout:hover .caption .rating {
	opacity: 1;
}
.hidden-btn-blk button i {
	font-size: 16px;
	color: #ccc;
}
.block-btn-blk button {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid #ccc;
	padding: 0;
}
.block-btn-blk button i {
	font-size: 15px;
	color: #ccc;
	line-height: 20px;
}
.product-layout:hover button.wishlist-top i  {
	color: #222;
}
.product-layout .wishlist-top i {
	font-size: 16px;
	color: #ddd;
}
.hidden-btn-blk button i:hover, .product-layout button.wishlist-top i:hover, .block-btn-blk button:hover i {
	color: #dd1f26;
}
.block-btn-blk button:hover {
	border-color: #dd1f26;
}
.banner {
	/*margin-bottom: 15px;*/
}
.banner .img-thumbnail {
	padding: 0;
}
.sub-cat-filter {
	padding-left: 30px;
	display: block;
	width: 100%;
	margin: 15px 0;
}
.sub-cat-filter li {
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #ddd;
}
.sub-cat-filter li:last-child {
	border-right: none;
}
.sub-cat-filter li a {
	color: #222;
	line-height: 10px;
}
.product-btns button {
	display: inline-block;
	border-radius: 0;
	margin-bottom: 0;
}
.product-btns p.qty button i {
	font-size: 10px;
	margin-right: 0;
}
.product-btns p.qty {
	display: inline-block;
}
.product-btns p.qty button {
	padding: 0 5px;
}
.hover-icon:hover i {
	color: #dd1f26;
}
#review .fa-stack {
	width: 1em;
	color: #E69500;
}
#review .fa-star-o {
	/*color: #000;*/
}
.product-btns button i {
	font-size: 20px;
}
.detail-page {
	padding: 30px;
}
#checkout-cart table {
	background: #fff;
}
#checkout-cart table tr td .btn-primary {
	min-width: auto;
}
#checkout-cart table tr td .form-control {
	height: 37px;
}
.navbar-nav {
	margin: 0;
}
.input-group-btn:last-child>.btn{
	margin-left: 0;
}
.main-slider.swiper-viewport{overflow: hidden;box-shadow: none;border:none;}
.main-slider.swiper-viewport .swiper-button-prev:hover, .main-slider.swiper-viewport .swiper-button-next:hover{color:rgba(221, 31, 38, 0.7);}
.main-slider.swiper-viewport .swiper-pagination{bottom: 0;}
.main-slider.swiper-viewport .swiper-pagination-bullet.swiper-pagination-bullet-active {background: rgba(221,31,38, 0.9);}
.main-slider.swiper-viewport .swiper-pagination-bullet{background: rgba(221,31,38, 0.5);}
/*************************************************************
RAJI MEDIA QUERIES
*************************************************************/
@media (min-width: 200px) and (max-width: 767px) {
	.swiper-button-next:before, .swiper-button-prev:before{font-size: 18px!important;}
	#logo img {
    margin: 20px auto;
	}
	header{padding: 0;}
	#search .btn-lg{
		padding: 10px 10px;
	}
	.category-menu .navbar-header {
		background-color: #DD1F26;
		color: #fff;
	}
	.category-menu #category {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		display: inline-block!important;
		padding: 7px 0 0 15px ;
	}
	.category-menu .nav>li>a:focus, .category-menu .nav>li>a:hover {
		background: none;
	}
	.navbar-toggle{
		margin-top: 0;
		margin-bottom: 0;
	}
	#menu .nav > li:first-child > a {
		padding-left: 15px;
	}
	.navbar-header .btn {
		border:none;
		color: #fff;
	}
	.navbar {
		border:none;
	}
	#menu {
		border-radius: 0;
	}
	.owl-pagination, .zoomContainer, #cart {
		display: none;
	}
	.owl-carousel .owl-buttons div i{
		font-size: 18px!important;
	}
	.block-title h3:before, .block-title h3:after, .block-title span:before, .block-title span:after {
		width: 23%;
	}
	.detail-page {
		padding: 15px;
	}
}
/*@media (min-width: 1300px) {
.container {
    width: 1270px;
}
@media (min-width: 1400px) {
.container {
    width: 1370px;
}
@media (min-width: 1500px) {
.container {
    width: 1470px;
}*/

.page-header {
	margin: 0 0 20px;
}
.container-fluid {
	padding: 0;
}
.panel-body #form-language {
	margin-bottom: 15px;
}
button.btn-default {
	border: 1px solid #ccc;
}
body.account-login #content {
	background: none!important;
}
.well, body[class^="account-"] #content, body[class*="account-"] #content, body[class^="checkout-"] #content, body[class*="checkout-"] #content, body[class*="information-"] #content, body[class^="information-"] #content, .product-manufacturer #content, .product-compare #content  {
	background-color: #fff;
	padding: 30px 15px;
}
h1, h2 {
	/*color: #dd1f26;*/
}
.account-login .well {
	min-height: 350px;
}
.product-search .top-blk, .product-special .top-blk {
	padding: 30px 15px;
	margin-bottom: 30px;
}
body.checkout-checkout .panel-default>.panel-heading, body#checkout-cart .panel-default>.panel-heading {
	background:#f5f5f5;
}
#cart ul.dropdown-menu li p a strong{
	color: #000!important;
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover{background-color:#dd1f26!important;}
.alert-dismissable .close, .alert-dismissible .close{right:0;top:0;}
#cart ul li:first-child .cart-list{height:300px;overflow:auto;padding: 0;}
.dropdown-menu{padding: 0;border-radius: 0;}
.dropdown-menu>li>a{padding: 5px 20px;}
.form-control, .time .btn-default, .datetime .btn-default, .date .btn-default, #button-coupon, #button-voucher{height: 40px;border-radius: 0;}
#product-product .nav-tabs>li>a{border-radius: 0;}
p.review-str{margin: 0;}
p.review-str span{height: 10px;}
#review .table-striped>tbody>tr:nth-of-type(odd){background: none;}
#review .table>tbody>tr>td{border:none;}
#review .table{border-bottom: 1px solid #ddd;}
#account-order .btn-primary, #account-wishlist .btn-primary{min-width: auto;}
.well{background: #fff;}
.well.register{padding: 85px 15px;}
#information-sitemap ul li a{padding: 5px 0;display: inline-block;}
#image-additional-carousel.owl-carousel .owl-buttons .owl-prev {left: 0;}
.module-slider .swiper-button-next:before, .module-slider .swiper-button-prev:before{font-size: 30px;}
.swiper-button-next:hover:before, .swiper-button-prev:hover:before, .module-slider .swiper-button-next:hover:before, .module-slider .swiper-button-prev:hover:before{color: #dd1f26!important;}
.module-slider .swiper-slide img{margin: 0 auto;}
.module-slider .swiper-pagination-bullet{background: rgba(221,31,38, 0.4);}
.module-slider .swiper-pagination-bullet-active, .module-slider .swiper-pagination-bullet:hover{background: rgba(221,31,38, 0.9);}
.module-slider.swiper-viewport{margin: 0;}
#instagram_feed{margin-bottom: 45px;}